#contact {
    background-color: $dark-color;
    padding: 15% 0;

    .sectionTitle {
        text-align: center;
        @include fontTitle(3rem);
        margin-top: 0;
    }

}

.contact {
    background-color: $second-darkest;
    padding: 10%;

    h3 {
        @include fontTitle(1rem);
    }

    a {
        padding: 10%;
        font-size: 2rem;
    }

    a:hover,
    a:focus,
    a:focus-within {
    font-size: 2.5rem;
    }

    ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .email {
        font-size: 1rem;
        padding: 5% 0;
    }

    .email:hover,
    .email:focus,
    .email:focus-within {
        font-size: 1rem;
    }
}

.socialLinks {
    display: flex;
    flex-direction: column;
    width: fit-content(100%);

    .email{
        display: inline-block;
        background: none;
        border: none;
        width: 250px;
    }
}

form {
    @include fontText(1rem);
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    label {
        visibility: hidden;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        width: 100%;
        background-color: #454545;
        color: $light-color;
        border: 2px solid $second-darkest;
        border-radius: 5px;
        padding: 5%;
    }

    textarea {
        resize: none;
        margin-bottom: 5%;
    }

    input[type='text']:hover,
    input[type='email']:hover,
    textarea:hover,
    input[type='text']:active,
    input[type='email']:active,
    textarea:active,
    input[type='text']:focus,
    input[type='email']:focus,
    textarea:focus {
        border: 2px solid $neon-color;
    }

    input[type='submit'] {
        background-color: $neon-color;
        color: $dark-color;
        @include fontTitle(1rem);
        border: none;
        border-radius: 5px;
        padding: 5% 10%;
        text-transform: uppercase;
    }

    input[type='submit']:hover,
    input[type='submit']:focus,
    input[type='submit']:focus-within {
        opacity: 0.5;
    }
}


@media (min-width: 1000px) {
    #contact {
        padding: 5% 0;
    }
    
    .contact {
        display: flex;
        padding: 5%;
        justify-content: space-around;

        h3 {
            @include fontTitle(2rem);

            margin-top: 1%;
        }

        a {
            font-size: 2.5rem;
        }

        .email {
            font-size: 1.1rem;
        }

        i {
            font-size: 3rem;
        }

        a:hover,
        a:focus,
        a:focus-within {
            font-size: 3rem;
        }

        .email:hover,
        .email:focus,
        .email:focus-within {
            font-size: 1.1rem;
        }
    }

    form {
        margin-top: 0;
    }

    .socialLinks {
        .email {
            padding: 5%;
        }
    }
}