#skills {
    background-color: $dark-color;
    padding-top: 25%;
    padding-bottom: 10%;
}

.skills {
    background-color: $second-darkest;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2 {
        @include fontTitle(1.8rem);
    }

    p {
        @include fontText(1rem);
        text-align: left;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        
        padding: 0;
    }

    i {
        font-size: 2.5rem;
    }

    li {
        padding: 5%;
    }
}

@media (min-width: 1000px) {
    #skills {
        padding-top: 10%;
    }

    .skills {

        h2 {
            @include fontTitle(2.4rem);
        }

        p {
            @include fontText(1.2rem);
        }

        li {
            padding: 2% 5%;
        }
        
        i {
            font-size: 4rem;
        }
    }
}