#skills {
    background-color: $dark-color;
    padding-top: 25%;
    padding-bottom: 10%;
}

.skills {
    background-color: $second-darkest;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2 {
        @include fontTitle(1.8rem);
    }

    p {
        @include fontText(1rem);
        text-align: left;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        
        padding: 0;
    }

    li {
        padding: 5%;
    }
}