#works {
    background-color: $second-darkest;
    padding-top: 25%;
    padding-bottom: 10%;

    .sectionTitle {
        text-align: center;
        @include fontTitle(3rem);
    }
}

.workContainer {
    background-color: $dark-color;
    padding: 25% 10% 10% 10%;
}

.works {
    h2 {
        @include fontTitle(1.6rem);
    }

    h3 {
        @include fontTitle(1rem);
    }

    p {
        @include fontText(1rem);
        text-align: left;
    }

    a {
        padding: 0 10%;
    }

    .workLinks a:hover,
    .workLinks a:focus,
    .workLinks a:focus-within {
    font-size: 2.5rem;
    }
}

.workLinks,
.workSkills {
    display: flex;
    flex-direction: column;
}

.workSkills {
    margin-top: 5%;
}

.techIcons {
    align-self: center;
    text-align: center;
    width: 100%;

    font-size: 2rem;
}

.workSkills ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
        text-align: center;
    }
}

.nextSession {
    text-align: center;
}

@media (min-width: 1000px) {
    #works {
        padding-top: 7%;
        position: relative;

        .sectionTitle {
            @include fontTitle(4rem);
            margin-bottom: 2%;
        }
    }

    .works {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 60%;
        margin-left: 40%;

        h2 {
            @include fontTitle(2.4rem);
        }

        p {
            @include fontText(1.2rem);
        }

        i {
            font-size: 3rem;
        }
        

        .nextSession {
            align-self: flex-end;
            justify-self: center;
            width: 100%;
        }
    }

    .workContainer {
        padding: 5%;
        margin: 10% 5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        z-index: 10;
    }

    .workPhotoContainer {
        margin: 1% 2% 0 0;
        flex: 0 1 40%;

        img {
            width: 100%;
        }
    }

    .workText {
        h2 {
            margin-top: 0;
        }
    }

    .workIcons {
        flex: 1 0 60%;
        justify-self: flex-end;
        align-self: flex-end;

        display: flex;
        justify-content: flex-end;
        
        .techIcons {
            display: flex;
            justify-content: space-between;
        }

        .workSkills {
            margin-top: 0;
            margin-left: 5%;
        }
    }
    
    .workGif {
        width: 50%;
        position: absolute;
        left: 0;
    }

    .universeGif {
        top: 700;
    }

    .hungryGif {
        top: 1230;
    }
}